@import 'fonts.css';

body {
	font-family: "Open Sans", serif;
}

/* !Стилизация меню хэдэра */

.menu,
.menu__item {
	display: block;
	padding: 0;
	margin: 0;
}

.menu-bar {
	background: #ffffff;
	columns: #212121;
	padding: 20px 0;
}

.menu__item {
	margin-left: 37px;
}

.menu__item a {
	font-family: "Open Sans Semibold", serif;
	font-size: 20px;
	color: #212121;
}

.menu__item a:hover {
	text-decoration: none;
	color: #868686;
}

/* ! Конец стилизации меню хедера */

/* !Начало стилизации баннера хедера */
.header>div {
	text-align: center;
	color: #fff;
	background: url(../img/Header.png);
	background-size: cover;
	background-position: 0 100%;
	padding: 180px 0;
}

.header__title {
	font-size: 55px;
}

.header__text {
	font-size: 20px;
	margin-bottom: 100px;
}

.button {
	padding: 10px 25px;
	margin: 0 10px;
	color: white;
	transition: 0.3s;
	text-transform: uppercase;
}

.button_empty {
	background: transparent;
	border: 2px solid white;
}

.button_full {
	background: #00897b;
	border: 2px solid #00897b;
}

.button_empty:hover,
.button_full:hover {
	border: 2px dotted #fff;
	background: #064741;
}

/* !Конец стилизации баннера хедера */

/* !Начало стилизации секции "О нас" */

.about {
	color: #000;
	background: #fff;
	text-align: center;
	padding: 120px 0 0;
}

.about__title {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 35px;
}

.about__text {
	font-size: 15px;
	color: #212121;
	margin-bottom: 110px;
}

.about__text_unmargined {
	margin-bottom: 0;
}

.about__h3 {
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 20px;
	font-family: "Open Sans Semibold", serif;
}

/* !Конец стилизации секции "О нас" */

/* !Начало стилизации секции "Наши услуги" */
.services {
	color: #000;
	background: #e4fdf9;
	text-align: center;
	padding: 165px 0 125px 0;
}

.our-card {
	background: #fff;
	padding: 50px;
	color: #000;
	transition: 0.3s;
	margin-bottom: 30px;
}

.our-card:hover {
	background: #00897b;
	color: #fff;
	box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.3);
}

.our-card:hover .our-card__icon {
	color: #fff;
}

.our-card:hover .button-services {
	color: #fff;
	border: 1px solid white;
}


.our-card__icon {
	font-size: 60px;
	color: #000;
	transition: 0.3s;
}

.button-services {
	font-size: 20px;
	padding: 15px 15px;
	background: transparent;
	color: #000;
	border: 1px solid black;
	margin-top: 40px;
	font-family: "Open Sans Semibold", sans-serif;
	transition: 0.3s;
}